@import '../../_common/styles/animations/height-animate.scss';

.pager {
  position: fixed;
  right: 100px;
  top: 15%;
  z-index: 100;
  min-height: 185px;
  max-height: 400px;
  width: 105px;
  padding: 10px 0;

  &--labels {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .image {
      width: 40px;
      min-width: 40px;
      height: 70px;
      overflow: hidden;
      margin: 10px;
      background-image: url('../../../static/images/sprites.png');

      &-1 {
        background-position: 50px 124px;
      }
      &-2 {
        background-position: 110px 124px;
      }
      &-3 {
        background-position: 170px 124px;
      }
      &-4 {
        background-position: 230px 124px;
      }
    }
    
    .label {
      position: relative;
      cursor: pointer;
      padding: 0 10px 10px 0;
    }
  }
}

@media screen and (max-width: 1050px) {
  .pager {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .pager {
    display: none;
  }
}