html, body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.blue {
  background: var(--blue)!important;
}

.red {
  background: var(--red)!important;
}

.white {
  background: var(--light--primary)!important;
}

.opac {
  background: rgba(0, 0, 0, 0);
}

.gray {
  background: var(--dark--secondary)!important;
}
.red-text {
  color: var(--red)!important;
}

.blue-text {
  color: var(--blue)!important;
}

.white-text {
  color: var(--light--primary)!important;
}

.gray-text {
  color: var(--dark--secondary)!important;
}

.inherit-text {
  color: inherit!important;
}

.white-border {
  border: 1px solid var(--light--primary)!important;
}

.gray-border {
  border: 1px solid var(--dark--secondary)!important;
}

.rounded {
  &-2 {
    border-radius: 2px!important;
  }
  &-5 {
    border-radius: 5px!important;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.hoverable {
  cursor: pointer;

  &--underlined:hover {
    text-decoration: underline;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  box-shadow: 0 0 0 30px var(--light--primary) inset !important;
 -webkit-box-shadow: 0 0 0 30px var(--light--primary) inset !important;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

.flex {
  display: flex;

  &--cols {
    // this is default
  }

  &--rows {
    flex-direction: column;
  }

  &--fill {
    flex-grow: 1;
  }

  &--centered-h {
    align-self: center;
  }

  &--between {
    justify-content: space-between;
  }

  &--around {
    justify-content: space-around;
  }
}

.w { // width
  &-95 {
    width: 95%;
  }
  &--full {
    width: 100%;
  }
}

.pad { // padding
  &--r { //right
    &-5 {
      padding-right: 5px;
    }
    &-10 {
      padding-right: 10px;
    }
    &-20 {
      padding-right: 20px;
    }
  }
  &--l { //left
    &-5 {
      padding-right: 5px;
    }
    &-10 {
      padding-right: 10px;
    }
    &-20 {
      padding-right: 10px;
    }
  }

  &-10 {
    padding: 10px!important;
  }

  &-20 {
    padding: 20px!important;
  }
}

.mar { // margin
  &--t { // top
    &-5 {
      margin-top: 5px;
    }
    &-10 {
      margin-top: 10px;
    }
    &-20 {
      margin-top: 20px;
    }
  }
  &--b { // bottom
    &-10 {
      margin-bottom: 10px;
    }
    &-20 {
      margin-bottom: 20px;
    }
  }
  &-5-10 {
    margin: 5px 10px;
  }
  &-5-20 {
    margin: 5px 20px;
  }
}

hr {
  width: 90%;
  border-top: 1px solid var(--light--primary);
  opacity: 0.5;
  margin: 20px;
}

.relative {
  position: relative;
}

.error-wrap {
  &:hover {
    .error {
      opacity: 0.4;
    }
  }
}

.error {
  background: var(--red);
  color: var(--light-primary);
  font-size: var(--tiny);
  padding: 2px 4px;

  &--top {
    position: absolute;
    top: 1px;
  }

  &--right {
    position: absolute;
    right: 1px;
  }
}

.start-quote {
  position: absolute;
  right: calc(100% + 5px);
  top: -10px;
}
