/*------------------------------------*\
  #THEME SETTINGS
\*------------------------------------*/

:root {
  /*  ---- colors ----  */
  // Default Theme
  --default--primary-text: #3f3f40;
  --default--secondary-text: #848487;
  --default--primary: #13a89e;
  --default--secondary: #a81322;
  --red: #a81322;
  --blue: #224042;
  --green: #13A85F;
  // Dark Theme
  --dark--primary-text: #ffffff;
  --dark--secondary-text: #a81322;
  --dark--primary: #1a1a1a;
  --dark--primary-stripe: #0d0d0d;
  --dark--secondary: #3d3d3d;
  // Light Theme
  --light--primary-text: #3f3f40;
  --light--secondary-text: #848487;
  --light--primary: #deddce;
  --light--secondary: #848487;

  /* ---- font sizes ---- */
  --tiny: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 28px;
}

.theme {
  &--default {
    background-color: var(--dark--primary-text);
  }
  &--dark {
    // background-color: var(--dark--primary);
    background-image: linear-gradient(112deg, var(--dark--primary) 2.38%, var(--dark--primary-stripe) 2.38%, var(--dark--primary-stripe) 50%, var(--dark--primary) 50%, var(--dark--primary) 52.38%, var(--dark--primary-stripe) 52.38%, var(--dark--primary-stripe) 100%);
    background-size: 55.01px 136.14px;
    color: var(--light--primary);
    a {
      color: var(--dark--primary-text);
    }
  }
  &--light {
    background-color: var(--light--primary);
  }
}

/*------------------------------------*\
  #THEME COLOUR CLASSES
\*------------------------------------*/

.black-text {
  color: black!important;
}

.light-text {
  color: var(--light-primary)!important;
}

.secondary-text {
  color: var(--secondary);
}

/*------------------------------------*\
  #THEME FONTS
\*------------------------------------*/

// @font-face {
//   font-family: 'Calibri Light';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');
// }

html, body, div, a, button, li, textarea {
  font-family: 'Arial', 'Roboto'!important;
  // font-family: 'Calibri light', 'Roboto'!important;
}

/*------------------------------------*\
  #THEME FONT CLASSES
\*------------------------------------*/


.tiny-font {
  font-size: var(--tiny);
}
.small-font {
  font-size: var(--small);
}
.medium-font {
  font-size: var(--medium);
}
.large-font {
  font-size: var(--large);
}

.tiny-line {
  line-height: calc(var(--tiny) + 3px);
}
.small-line {
  line-height: calc(var(--small) + 3px);
}
.medium-line {
  line-height: calc(var(--medium) + 3px);
}
.large-line {
  line-height: calc(var(--large) + 3px);
}

/*------------------------------------*\
  #SCROLLBAR
\*------------------------------------*/

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--red);
  outline: 1px solid var(--red);
}