/*------------------------------------*\
  #THEME SETTINGS
\*------------------------------------*/

:root {
  /*  ---- colors ----  */
  // Default Theme
  --dark--primary-text: #3f3f40;
  --dark--secondary-text: #848487;
  --dark--primary: #13a89e;
  --dark--secondary: #a81322;
  // Dark Theme
  --dark--primary-text: #ffffff;
  --dark--secondary-text: #a81322;
  --dark--primary: #1a1a1a;
  --dark--primary-stripe: #0d0d0d;
  --dark--secondary: #3d3d3d;
  // Light Theme
  --light--primary-text: #3f3f40;
  --light--secondary-text: #848487;
  --light--primary: #deddce;
  --light--secondary: #a81322;

  /* ---- font sizes ---- */
  --tiny: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 28px;
}

.theme {
  &--default {
    background-color: var(--dark--primary-text);
  }
  &--dark {
    // background-color: var(--dark--primary);
    background-image: linear-gradient(112deg, var(--dark--primary) 2.38%, var(--dark--primary-stripe) 2.38%, var(--dark--primary-stripe) 50%, var(--dark--primary) 50%, var(--dark--primary) 52.38%, var(--dark--primary-stripe) 52.38%, var(--dark--primary-stripe) 100%);
    background-size: 55.01px 136.14px;
    color: var(--dark--primary-text);
    a {
      color: var(--dark--primary-text);
    }
  }
  &--light {
    background-color: var(--light--primary);
  }
}

/*------------------------------------*\
  #THEME COLOUR CLASSES
\*------------------------------------*/

.black-text {
  color: black!important;
}

.primary-text-text {
  color: var(--primary-text)!important;
}

.primary-text {
  color: var(--primary);
}

.secondary-text {
  color: var(--secondary);
}

/*------------------------------------*\
  #THEME FONTS
\*------------------------------------*/

// @font-face {
//   font-family: 'Calibri Light';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');
// }

html, body, div, a, button, li {
  font-family: 'Arial', 'Roboto'!important;
  // font-family: 'Calibri light', 'Roboto'!important;
}

/*------------------------------------*\
  #THEME FONT CLASSES
\*------------------------------------*/


.tiny-font {
  font-size: var(--tiny);
}

.small-font {
  font-size: var(--small);
}

.medium-font {
  font-size: var(--medium);
}

.large-font {
  font-size: var(--large);
}
