@import './_common/styles/animations/slide-animate.scss';
@import './_common/styles/animations/rotate-animate.scss';

.puzzle--piece {
  position: fixed;
  opacity: 0.1;
  z-index: -1;
  display: block;
  width: 426px;
  height: 286px;
  background-image: url('../static/images/sprites.png');

  &-left {
    top: 100px;
    left: 10px;
    background-position: -10px  -10px;
  }

  &-right {
    bottom: 50px;
    right: 50px;
    background-position: -10px  -10px;
  }

  @media screen and (max-width: 1049px) {
    display: none;
  }
}

.page {
  // full width - page-index (right (100px) + width (105px) + left margin (50px))
  --spacer: 255px;
  --width: calc(100% - var(--spacer));
  --left: calc(var(--spacer) - 100%);


  @media screen and (max-width: 1049px) {
    width: 100%;
  }

  &--header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 5px 20px;
    background: var(--blue);

    .container {
      display: flex;
      justify-content: space-between;
      width: 900px;
      margin: auto;
    }
  }
  
  &--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    margin-top: 150px;

    @media screen and (max-width: 750px) {
      margin-top: 60px;
      
      &-step {
        min-width: 100%!important;
      }
    }

    &-step {

      position: relative;
      min-height: calc(100vh - 300px);
      border: 1px solid rgba(255,255,255,0.2);
      width: calc(100% - var(--spacer) * 2)!important;
      max-width: 900px;
      min-width: 600px;
      margin: 0 auto 20px auto;

      &:nth-child(4), &:nth-child(3) {
        height: auto!important;
      }
    }

    .skills {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      max-height: 637px;
      overflow-y: auto;

      .image {
        width: 100px;
        height: 100px;
        margin: 30px;
        overflow: hidden;
        background-image: url('../static/images/skill_sprites.png');

        // row 1 sprite
        &-aurelia {
          background-position: -131px -10px;
        }
        &-angular {
          background-position: -10px -10px;
        }
        &-aws {
          background-position: -10px -131px;
        }
        &-css3 {
          background-position: -131px -131px;
        }

        // row 2 sprite
        &-docker {
          background-position: -250px -10px;
        }
        &-electron {
          background-position: -250px -131px;
        }
        &-expressjs {
          background-position: -10px -250px;
        }
        &-git {
          background-position: -131px -250px;
        }

        &-gulp {
          background-position: -250px -250px;
        }
        &-html5 {
          background-position: 230px -10px;
        }
        &-javascript {
          background-position: 230px -131px;
        }
        &-jenkins {
          background-position: 230px -250px;
        }
        &-jwt {
          background-position: -10px 230px;
        }
        &-kubernetes {
          background-position: -131px 230px;
        }
        &-mongodb {
          background-position: -250px 230px;
        }
        &-nodejs {
          background-position: 230px 230px;
        }
        &-rabbitmq {
          background-position: 110px -10px;
        }
        &-react {
          background-position: 110px -131px;
        }
        &-redux {
          background-position: 110px -250px;
        }
        &-rxjs {
          background-position: 110px 230px;
        }
        &-typescript {
          background-position: -10px 110px;
        }
        &-vue-js {
          background-position: -131px 110px;
        }
        &-webpack {
          background-position: -250px 110px;
        }
        &-webrtc {
          background-position: 230px 110px;
        }
        &-wordpress {
          background-position: 110px 110px;
        }
      }
    }
  }
  
  &--footer {
    position: relative;
    width: calc(100% - 40px);
    min-width: calc(600px - 40px);
    padding: 20px;
    background: var(--blue);

    @media screen and (max-width: 750px) {
      min-width: 100%;
    }
    
    .menu-social-links-menu {
      float: right;

      li {
        display: inline-block;
        margin: 0 5px;
      }
    }

    .copyright-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

#Flaapworks {
  button {
    outline: none;
    background: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    color: var(--dark--primary-text);
    border: 1px solid var(--dark--primary-text);
    cursor: pointer;

    &:hover {
      box-shadow: -1px 6px 14px 0px rgba(255,255,255,0.31);
      -webkit-box-shadow: -1px 6px 14px 0px rgba(255,255,255,0.31);
      -moz-box-shadow: -1px 6px 14px 0px rgba(255,255,255,0.31);
    }
  }
}

#Services {
  height: 800px;

  .table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100% - 20px);
    max-height: 800px;
    overflow-y: auto;

    &--col {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 45%;
      text-align: center;
      padding: 0 10px;
      
      @media screen and (max-width: 750px) {
        padding: 10px;
        width: calc(100% - 20px);
      }

      .text {
        text-align: justify;
      }

      &-descriptor {
        display: flex;

          
        .image {
          width: 150px;
          height: 114px;
          overflow: hidden;
          background-image: url('../static/images/sprites.png');

          &-1 {
            background-position: -10px -315px;
          }
          &-2 {
            background-position: -200px -315px;
          }
          &-3 {
            background-position: -365px -315px;
          }
          &-4 {
            background-position: -530px -315px;
          }
          &-5 {
            background-position: 200px -315px;
          }
          &-6 {
            background-position: -10px 124px;
          }
        }

        span {
          margin-left: 20px;
          align-self: center;
        }

        @media screen and (max-width: 750px) {
          flex-direction: column!important;

          img {
            margin: auto;
          }
          span {
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}

#Recommendations {
  .image {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    background-image: url('../static/images/sprites.png');

    &-1 {
      background-position: -315px -455px;
    }
    &-2 {
      background-position: -550px -455px;
    }
    &-3 {
      background-position: -430px -455px;
    }
    &-4 {
      background-position: -190px -455px;
    }
  }

  .description {
    min-width: 180px;
  }

  .shiftable {
    @media screen and (max-width: 750px) {
      flex-direction: column;
      padding: 0 20px;

      .description {
        margin-bottom: 20px;

        .name {
          display: block;
        }
      }
    }
  }
}

#GetInTouch {
  .form-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top: 50px;

    .minimised-header {
      display: none;
      margin-bottom: 20px!important;
    }

    > div {
      width: 50%;
    }

    @media screen and (max-width: 750px) {
      flex-direction: column-reverse;

      > div {
        width: calc(100% - 20px);
        margin: 0 10px 20px;
      }

      .minimised-header {
        display: block;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      input, textarea {
        background: rgba(0, 0, 0, 0);
        padding: 10px;
        border: 1px solid var(--light--primary);
        border-radius: 2px;
        color: var(--light--primary);

        &.hasValue {
          background: var(--light--primary);
          color: var(--light--primary-text);
        }
      }
      textarea {
        resize: none;
      }

      button {
        outline: none;
        border: 1px solid var(--dark--primary-text);
        cursor: pointer;
        margin-top: 40px;
      }
    }
  }
}