@import './_common/styles/animations/slide-animate.scss';

.page {
  // full width - page-index (right (100px) + width (105px) + left margin (50px))
  --spacer: 255px;
  --width: calc(100% - var(--spacer));
  --left: calc(var(--spacer) - 100%);
  height: 6500px;

  &--header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 5px 20px;
    background: var(--blue);

    .container {
      display: flex;
      justify-content: space-between;
      width: 900px;
      margin: auto;
    }
  }
  
  &--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    margin-top: 150px;

    &-step {

      position: relative;
      height: calc(100vh - 300px);
      border: 1px solid rgba(255,255,255,0.2);
      width: calc(100% - var(--spacer) * 2)!important;
      max-width: 900px;
      min-width: 600px;
      margin: 0 auto;

      &:nth-child(3) {
        height: auto!important;
      }
      
      &-inner {
        position: absolute;
        background: var(--light--primary);
        color: var(--light--primary-text);
        width: calc(100% - 120px);
        max-width: 900px;
        margin: 10px 30px 0 30px;
        height: 100%;
      }
    }

    .skills {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;

      img {
        height: 100px;
        margin: 30px;
      }
    }
  }
  
  &--footer {
    position: relative;
    width: calc(100% - 40px);
    padding: 20px;
    margin-top: 50px;
    background: var(--blue);

    
    .menu-social-links-menu {
      float: right;

      li {
        display: inline-block;
        margin: 0 5px;
      }
    }

    .copyright-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

#Flaapworks {
  button {
    outline: none;
    background: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    color: var(--dark--primary-text);
    border: 1px solid var(--dark--primary-text);
    cursor: pointer;

    &:hover {
      box-shadow: -1px 6px 14px 0px rgba(255,255,255,0.31);
      -webkit-box-shadow: -1px 6px 14px 0px rgba(255,255,255,0.31);
      -moz-box-shadow: -1px 6px 14px 0px rgba(255,255,255,0.31);
    }
  }
}

#Services {
  height: 800px;
}

#Services {
  .table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;

    &--col {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 33%;
      width: 45%;
      text-align: center;
      padding: 0 10px;

      .text {
        text-align: justify;
      }

      &-descriptor {
        display: flex;

        span {
          margin-left: 20px;
          align-self: center;
        }
      }
    }
  }
}

#GetInTouch {
  .form-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top: 50px;

    > div {
      width: 50%;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      input, textarea {
        background: rgba(0, 0, 0, 0);
        padding: 10px;
        border: 1px solid var(--light--primary);
        border-radius: 2px;
        color: var(--light--primary);

        &.hasValue {
          background: var(--light--primary);
          color: var(--light--primary-text);
        }
      }
      textarea {
        resize: none;

      }
      input:focus, textarea:focus, select:focus{
        outline: none;
      }

      button {
        outline: none;
        border: 1px solid var(--dark--primary-text);
        cursor: pointer;
        margin-top: 40px;
      }
    }
  }
}