@import './_common/styles/animations/slide-animate.scss';

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}

.content {
  &--step {
    // full width - page-index (right (100px) + width (105px) + left margin (50px))
    --spacer: 255px;
    --width: calc(100% - var(--spacer));
    --left: calc(var(--spacer) - 100%);

    position: absolute;
    display: flex;
    background: var(--default--secondary);
    width: var(--width);
    left: var(--left);
    // border-right: 20px solid var(--default--secondary);

    &.slide-in {
      animation: slide-right ease 0.5s;
      -webkit-animation: slide-right ease 0.5s;
      -moz-animation: slide-right ease 0.5s;
      -o-animation: slide-right ease 0.5s;
      -ms-animation: slide-right ease 0.5s;
      left: 0;
    }
    
    &-inner {
      position: absolute;
      left: var(--left);
      background: var(--light--primary);
      color: var(--light--primary-text);
      width: calc(100% - var(--spacer) - 30px);
      padding-left: var(--spacer);
      margin-top: 10px;
      height: 100%;
      
      &.slide-in {
        animation: slide-right ease 1s;
        -webkit-animation: slide-right ease 1s;
        -moz-animation: slide-right ease 1s;
        -o-animation: slide-right ease 1s;
        -ms-animation: slide-right ease 1s;
        left: 0;
      }
    }
  }
}
