<!DOCTYPE html>
<html class="theme--dark">
  <head>
    <meta charset="utf-8">
    <title>Flaapworks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" href="favicon.ico">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HJN47XKMR9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HJN47XKMR9');
    </script>
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  </body>
</html>
